.ant-radio-wrapper {
  display: flex;
  align-items: center;

  .ant-radio {
    > input {
      width: 22px;
      height: 22px;
    }

    .ant-radio-inner {
      width: 24px;
      height: 24px;

      &::after {
        width: 16px;
        height: 16px;
        border-radius: 20px;
      }
    }
  }
}
.d-inline-block {
  &.ant-radio-wrapper {
    padding: 10px 0;
  }
}
