@import '@/assets/styles/mixins.scss';

.menu {
  background-color: #fff;
  box-shadow: 0 0 10px -2px rgba($color: #000, $alpha: 0.15);
  display: flex;
  width: 100%;
  .link {
    align-items: center;
    border-right: 1px solid #dbdbdb;
    color: #000;
    display: flex;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    opacity: 0.65;
    padding: 16px;
    position: relative;
    text-transform: uppercase;
    &:last-child {
      border-right: unset;
    }

    &::after {
      background-color: #68c958;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: 100%;
      width: 0%;
    }

    &.active {
      opacity: 1;
      &::after {
        transition: width 0.3s ease-in-out;
        width: 100%;
      }
    }
  }
}
