@import "@/assets/styles/mixins.scss";

.content {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: #fde8e4;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 375px) {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
