@import '@/assets/styles/mixins.scss';

.breadcrumbs {
  margin-bottom: 10px;
  :global(.text-muted) {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: $text-primary !important;
  }
}

.path {
  font-size: rem(18);
  color: $black;
}

.arrow {
  display: inline-block;
  margin: 0 rem(10);
  &:after {
    display: inline-block;
    content: '\e922';
    font-family: 'icomoon';
    color: #7a7e84;
    font-size: 10px;
  }
}
.title {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #979da5;
}
